<% if @configure_boxes %>
<script>
$(function() {
	jQuery.configureBoxes({sortBy:'value', transferMode:'copy'});
});
</script>
<% end %>
<p>Please select the journals that you wish to consider high-impact for all CCSG queries.</p>
<% form_tag set_high_impact_journals_url do %>
	<table>
	<tr>
		<td><h2>All Journals</h2>
			Filter: <input type="text" id="box1Filter" /><button type="button" id="box1Clear">X</button></td>
		<td>&nbsp;</td>
		<td><h2>High-Impact Journals</h2>
			Filter: <input type="text" id="box2Filter" /><button type="button" id="box2Clear">X</button></td>
	</tr>
	<tr>
		<td>
		<select id="box1View" multiple="multiple" style="height:500px;width:300px;font-family:monospace;">
			<% @journals.each do |j| %>
				<option value="<%= j.journal_abbreviation %>" class="<%= 'copiedOption' if j.include_as_high_impact %>">
					<%= "%9s%s%s" % [j.issn, '&nbsp;' * (12 - j.issn.to_s.length), j.journal_abbreviation] %>
				</option>
			<% end %>
		</select><select id="box1Storage"></select>
	</td>
	<td>
	<!-- <div style="float:left;"> -->
	<button id="allTo1" type="button">&nbsp;&lt;&lt;&nbsp;</button>
	<button id="to1" type="button">&nbsp;&lt;&nbsp;</button>
	<button id="to2" type="button">&nbsp;>&nbsp;</button>
	<button id="allTo2" type="button">&nbsp;>>&nbsp;</button>
	<!-- </div> -->
	</td>
	<td>
	<select name="journal_abbrs[]" id="box2View" multiple="multiple" style="height:500px;width:300px;font-family:monospace;">
		<% @journals.each do |j| %>
			<% if j.include_as_high_impact %>
				<option value="<%= j.journal_abbreviation %>">
					<%= "%9s%s%s" % [j.issn, '&nbsp;' * (12 - j.issn.to_s.length), j.journal_abbreviation] %>
				</option>
			<% end %>
		<% end %>
	</select><select id="box2Storage"></select>
	</td>
	</tr>
	<tr>
	<td><span id="box1Counter" class="countLabel"></span></td>
	<td>&nbsp;</td>
	<td><span id="box2Counter" class="countLabel"></span></td>
	</tr>
	</table>
	<p style="margin-top: 5px;"><%= submit_tag "Set High Impact Journals" %><%= submit_tag "Restore Defaults" %></p>
<% end %>
